<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    
    <%- include('./partials/nav') %> 
    <h1>Welcome!</h1>

    <% if(locals.currentUser) { %>
        Welcome <%=currentUser.name %>
        <a href="/u/<%= currentUser.id %>">Go to Profile</a>
        <% }else{ %> 
    <p>Already a member? Sign in 
        <a href="/u/signin/">here</a>
        First time visitor? Sign up 
        <a href="/u/signup/">here</a>
    </p>
    <% } %>
   
</body>
</html>