<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <div class="container">
        
        <h1>Welcome <%=currentUser.name%></h1>

        <div class="folderContainer">
            <h2>My Folders</h2>
            <% if(folders.length === 0){ %>
                <p>No folders yet. </p>

            <% } %>

            <% folders.forEach(folder => { %>
                <div class="folderCard">

                    <span>
                        <a href="<% `/f/${folder.id}` %>" > <%= folder.name %></a>    
                    </span>
                    
                </div>
                
           <% }); %>


        </div>
        <p>Create
            <a href="/f/new">New</a>.
        </p>
    </div>
    
</body>
</html>