<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>

    <div class="container">
        <%- include('./partials/nav') %> 
        <%- include('./partials/errors.ejs') %>
        <form class="signinForm" action="/u/signin" method="post">



            <label for="email">Email:</label>
            <input type="email" name="email" id="email" value="<%= locals.data?.email %>" required>

            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required>

            <button type="submit">Sign In</button>

        </form>
    </div>
</body>
</html>