
<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

    <body>
        <%- include('./partials/nav') %> 
        <div class="container">
            <%- include('./partials/errors') %>
            <form action="/f/<%= folderId %>/file/upload" method="post" enctype="multipart/form-data">
                <label for="file">File:</label>
                <input type="file" name="file" id="file" required />
                <button type="submit">Upload</button>
            </form>
        </div>
    </body>

</html>
