<nav>
    <a href="/">Homepage</a>
    <% if(currentUser) { %>
        <a href="/u/<%= currentUser.id %>">Profile<a>
            
        <a href="/u/signout">Sign out</a>
        <% } else{ %>
            <a href="/u/signin">Sign in</a>
            <% } %>
</nav>